/* Colors and Setup*/
:root {
  --main-color: #06c;
}

html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #d5506b;
}

body {
  height: 100vh;
}

/* Loading screen start */
.loading {
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  opacity: 90%;
  z-index: 20;
  animation-name: loading-screen;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 1fr 400px 1fr;
}

@keyframes loading-screen {
  0% {
    width: 100%;
    background-color: black;
    opacity: 100%;
    /* Standard compliant browsers */
    -moz-opacity: 100%;
    /* Firefox and Mozilla browsers */
    -webkit-opacity: 100%;
    /* WebKit browser e.g. Safari */
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
  }

  90% {
    width: 100%;
    opacity: 98%;
    /* Standard compliant browsers */
    -moz-opacity: 98%;
    /* Firefox and Mozilla browsers */
    -webkit-opacity: 98%;
    /* WebKit browser e.g. Safari */
    filter: alpha(opacity=98);
    /* For IE8 and earlier */
  }

  95% {
    width: 80%;
    /* Standard compliant browsers */
    -moz-opacity: 90%;
    /* Firefox and Mozilla browsers */
    -webkit-opacity: 90%;
    /* WebKit browser e.g. Safari */
    filter: alpha(opacity=90);
    /* For IE8 and earlier */
    background-color: black;
  }

  100% {
    width: 0%;
    opacity: 0%;
    /* Standard compliant browsers */
    -moz-opacity: 0%;
    /* Firefox and Mozilla browsers */
    -webkit-opacity: 0%;
    /* WebKit browser e.g. Safari */
    filter: alpha(opacity=0);
    /* For IE8 and earlier */
    background-color: white;
  }
}

.load {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  justify-self: center;
  align-self: center;
  background-color: white;
  border: 2px solid white;
  width: 200px;
  height: 200px;
  transform: rotate(0deg);
  z-index: 21;
  animation-name: load;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
    background-color: white;
    border: 2px solid white;
  }

  20% {
    transform: rotate(-300deg);
    background-color: red;
    border: 2px solid yellow;
  }

  70% {
    transform: rotate(1500deg);
    background-color: blue;
    border: 2px solid red;
  }

  90% {
    transform: rotate(520deg);
    background-color: #d5506b;
    border: 1px solid white;
  }

  95% {
    transform: rotate(620deg);
    background-color: black;
  }

  100% {
    transform: rotate(550deg);
    background-color: black;
    border: 5px solid black;
  }
}

.load-bar-bot {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: start;
  align-self: end;
  background-color: white;
  width: 0px;
  height: 5px;
  z-index: 21;
  animation-name: load-bar-bot;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes load-bar-bot {
  0% {
    width: 0px;
  }

  100% {
    width: 400px;
  }
}

.load-bar-top {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: start;
  background-color: white;
  width: 0px;
  height: 5px;
  z-index: 21;
  transform: rotate(360deg);
  animation-name: load-bar-top;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes load-bar-top {
  0% {
    margin-left: 400px;
    width: 0px;
  }

  100% {
    margin-left: 0px;
    width: 400px;
  }
}

.load-bar-left {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: start;
  align-self: start;
  background-color: white;
  width: 5px;
  height: 0px;
  z-index: 21;
  animation-name: load-bar-left;
  animation-duration: 1.2s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes load-bar-left {
  0% {
    height: 0px;
  }

  100% {
    height: 400px;
  }
}

.load-bar-right {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: end;
  align-self: center;
  background-color: white;
  width: 5px;
  height: 0px;
  z-index: 21;
  animation-name: load-bar-right;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes load-bar-right {
  0% {
    margin-top: 400px;
    height: 0px;
  }

  100% {
    margin-top: 0px;
    height: 400px;
  }
}

.loading-background {
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  justify-self: start;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: auto;
  animation-name: loading-screen-background;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  z-index: 5;
}

@keyframes loading-screen-background {
  0% {
    width: 100%;
    background-color: black;
    opacity: 100%;
    /* Standard compliant browsers */
    -moz-opacity: 100%;
    /* Firefox and Mozilla browsers */
    -webkit-opacity: 100%;
    /* WebKit browser e.g. Safari */
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
  }

  90% {
    width: 100%;
    opacity: 98%;
    /* Standard compliant browsers */
    -moz-opacity: 98%;
    /* Firefox and Mozilla browsers */
    -webkit-opacity: 98%;
    /* WebKit browser e.g. Safari */
    filter: alpha(opacity=98);
    /* For IE8 and earlier */
  }

  95% {
    width: 100%;
    opacity: 90%;
    /* Standard compliant browsers */
    -moz-opacity: 90%;
    /* Firefox and Mozilla browsers */
    -webkit-opacity: 90%;
    /* WebKit browser e.g. Safari */
    filter: alpha(opacity=90);
    /* For IE8 and earlier */
    background-color: black;
  }

  100% {
    width: 0%;
    opacity: 0%;
    /* Standard compliant browsers */
    -moz-opacity: 0%;
    /* Firefox and Mozilla browsers */
    -webkit-opacity: 0%;
    /* WebKit browser e.g. Safari */
    filter: alpha(opacity=0);
    /* For IE8 and earlier */
    background-color: white;
  }
}

/* Loading screen end */
/* Header start */
header {
  margin: 0;
  height: 100vh;
  background-color: white;
}

.grid {
  display: grid;
  grid-template-columns: 100px 3fr 150px 1fr 150px;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  margin-right: 0px;
  background-color: #d5506b;
  box-shadow: inset 0 0 0.5em 0.1em black;
}

/* Left box */
.left-box {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  justify-self: center;
  background-color: white;
  opacity: 100%;
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #d5506b;
}

.background {
  grid-row: 1 / 3;
  grid-column: 1 / 4;
  justify-self: center;
  align-self: center;
  background-color: #d5506b;
  width: 90%;
  height: 100%;
  z-index: 0;
}

/* Left box top*/
/* Logo start */
.logo {
  height: 300px;
  width: 300px;
  border: 1px solid white;
}

.logo {
  border: 1px solid white;
  transform: rotate(0deg);
  animation-name: rotate;
  animation-duration: 1.8s;
  animation-delay: 4.405s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    border: 1px solid white;
  }

  40% {
    transform: rotate(20deg);
    border: 2px solid white;
  }

  75% {
    transform: rotate(-10deg);
    border: 4px solid white;
  }

  80% {
    transform: rotate(10deg);
    border: 8px solid white;
  }

  100% {
    transform: rotate(0deg);
    border: 1px solid white;
  }
}

.logo-box {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 7rem;
  font-weight: 900;
}

#DU {
  display: block;
  height: 95px;
  letter-spacing: -5px;
}

#DA {
  letter-spacing: -2px;
}

/* Logo end */
/* Left box bot*/
.box1-top {
  justify-self: center;
  align-self: center;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  z-index: 10;
}

/* Portfolio preview start */
.portfolio-prevw-heading {
  margin: 0 auto;
  margin-bottom: 330px;
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  width: 100%;
  height: 50px;
  z-index: 10;
  align-self: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  z-index: 5;
}

.prev1 {
  margin-top: 20%;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  align-self: center;
  justify-self: end;
  width: 190px;
  height: 280px;
  background-color: white;
  border: 3px solid #191919;
  z-index: 5;
  overflow: hidden;
  transition: width 0.8s, height 0.8s, border 0.3s, box-shadow 0.7s;
}

.prev1 img {
  width: 100%;
  height: auto;
}

.prev1:hover {
  width: 210px;
  height: 300px;
  border: 5px solid #F0DB4F;
}

.prev2 {
  margin-top: 20%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-self: center;
  justify-self: center;
  width: 190px;
  height: 280px;
  background-color: white;
  border: 3px solid #191919;
  z-index: 5;
  overflow: hidden;
  transition: width 0.8s, height 0.8s, border 0.3s, box-shadow 0.7s;
}

.prev2 img {
  width: 100%;
  height: auto;
}

.prev2:hover {
  width: 210px;
  height: 300px;
  border: 5px solid white;
}

.prev3 {
  margin-top: 20%;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  align-self: center;
  justify-self: start;
  width: 190px;
  height: 280px;
  background-color: #4B0082;
  border: 3px solid white;
  z-index: 5;
  overflow: hidden;
  transition: width 0.8s, height 0.8s, border 0.3s, box-shadow 0.7s;
}

.prev3 img {
  width: 100%;
  height: auto;
}

.prev3:hover {
  width: 210px;
  height: 300px;
  border: 5px solid black;
}

/* Portfolio preview end */
/* Divider left */
.divider {
  grid-row: 1 / 3;
  grid-column: 1 / 4;
  align-self: center;
  justify-self: center;
  height: 2px;
  width: 0%;
  background-color: white;
  overflow: hidden;
  z-index: 10;
  animation-name: divider1;
  animation-duration: 1.5s;
  animation-delay: 4.405s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 5;
}

@keyframes divider1 {
  0% {
    width: 0%;
  }

  50% {
    width: 20%;
  }

  75% {
    width: 30%;
  }

  90% {
    width: 20%;
  }

  100% {
    width: 40%;
  }
}

/* Left box end */
/* Right box start */
.right-box {
  grid-row: 1 / 3;
  grid-column: 3 / 6;
  background-color: #191919;
  width: 50%;
  min-width: 300px;
  height: 90%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.right-box nav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
}

.right-box ul {
  margin: 0;
  margin-left: 20px;
  padding-left: 10px;
  color: white;
  font-size: 3rem;
  text-align: left;
  text-decoration: none;
  list-style: none;
  border-left: 0px solid white;
}

.right-box li {
  height: 63px;
}

.right-box a {
  color: white;
  text-decoration: none;
  transition: color 1s;
}

.right-box a:hover {
  color: #d5506b;
}

.right-box a::after {
  content: '';
  background-color: white;
  display: block;
  width: 0%;
  height: 4px;
  transition: background-color 1s, width 1s;
}

.right-box a:hover::after {
  content: '';
  background-color: #d5506b;
  display: block;
  width: 100%;
  height: 4px;
}

#portfolio {
  width: 200px;
}

#about-me {
  width: 220px;
}

#contact {
  width: 180px;
}

.divider-right {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 2px;
  width: 83%;
  align-self: center;
  justify-self: center;
  background-color: white;
  animation-name: divider2;
  animation-delay: 4.405s;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes divider2 {
  0% {
    width: 0%;
  }

  50% {
    width: 40%;
  }

  75% {
    width: 70%;
  }

  90% {
    width: 40%;
  }

  100% {
    width: 83%;
  }
}

/* Du better heading */
.du-better {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  align-self: center;
  text-align: left;
  color: white;
}

.du-better h1 {
  font-size: 4.5rem;
  margin-top: 0px;
  margin-bottom: 15px;
}

.du-h1 {
  display: block;
  width: 130px;
  height: 105px;
  margin-left: 25px;
  padding: 0;
  font-size: 6rem;
  border-bottom: 5px solid white;
}

.better-h1 {
  padding-left: 27px;
  font-size: 4.5rem;
  margin: 0;
}

.du-better p {
  padding-left: 34px;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0;
}

/* Right box end */
/* Header end */
/* Media query */
@media (max-width: 1280px) {
  .loading-background {
    height: 150%;
  }

  /* Preview resize */
  .portfolio-prevw-heading {
    margin: 0 auto;
    margin-bottom: 300px;
  }

  .prev1 {
    width: 140px;
    height: 230px;
  }

  .prev2 {
    width: 140px;
    height: 230px;
  }

  .prev3 {
    width: 140px;
    height: 230px;
  }

  .prev1:hover {
    width: 150px;
    height: 240px;
    border: 5px solid #F0DB4F;
  }

  .prev2:hover {
    width: 150px;
    height: 240px;
    border: 5px solid white;
  }

  .prev3:hover {
    width: 150px;
    height: 240px;
    border: 5px solid black;
  }
}

@media (max-width: 1000px) {

  /* Changed to mobile layout */
  .grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100vh 100vh;
  }

  .left-box {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    grid-row-gap: 120px;
  }

  .right-box {
    width: 30%;
    grid-row: 2 / 2;
    grid-column: 1 / 6;
  }

  body {
    height: 200vh;
  }

  .loading-background {
    height: 200%;
  }

  @keyframes divider1 {
    0% {
      width: 0%;
    }

    50% {
      width: 40%;
    }

    75% {
      width: 60%;
    }

    90% {
      width: 40%;
    }

    100% {
      width: 80%;
    }
  }

  /* Preview resize */
  .prev1 {
    margin-right: 10px;
    width: 130px;
    height: 200px;
  }

  .prev2 {
    margin-left: 10px;
    margin-right: 10px;
    width: 130px;
    height: 200px;
  }

  .prev3 {
    margin-left: 10px;
    width: 130px;
    height: 200px;
  }

  .prev1:hover {
    width: 140px;
    height: 210px;
  }

  .prev2:hover {
    width: 140px;
    height: 210px;
  }

  .prev3:hover {
    width: 140px;
    height: 210px;
  }
}

@media (max-width: 475px) {

  /* Loading screen resize */
  .loading {
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 1fr 200px 1fr;
  }

  .load {
    width: 100px;
    height: 100px;
  }

  @keyframes load-bar-bot {
    0% {
      width: 0px;
    }

    100% {
      width: 200px;
    }
  }

  @keyframes load-bar-top {
    0% {
      margin-left: 200px;
      width: 0px;
    }

    100% {
      margin-left: 0px;
      width: 200px;
    }
  }

  @keyframes load-bar-left {
    0% {
      height: 0px;
    }

    100% {
      height: 200px;
    }
  }

  @keyframes load-bar-right {
    0% {
      margin-top: 200px;
      height: 0px;
    }

    100% {
      margin-top: 0px;
      height: 200px;
    }
  }

  /* Logo resize */
  .logo {
    height: 200px;
    width: 200px;
  }

  .logo-box {
    font-size: 5rem;
  }

  #DU {
    height: 70px;
    letter-spacing: -5px;
  }

  #DA {
    letter-spacing: -2px;
  }

  /* Preview resize */
  .portfolio-prevw-heading {
    margin-bottom: 250px;
  }

  .prev1 {
    width: 100px;
    height: 150px;
  }

  .prev2 {
    width: 100px;
    height: 150px;
  }

  .prev3 {
    width: 100px;
    height: 150px;
  }

  .prev2:hover {
    width: 110px;
    height: 160px;
  }

  .prev1:hover {
    width: 110px;
    height: 160px;
  }

  .prev3:hover {
    width: 110px;
    height: 160px;
  }
}

@media (max-width: 350px) {

  /* Preview resize */
  .prev1 {
    width: 80px;
    height: 120px;
  }

  .prev2 {
    width: 80px;
    height: 120px;
  }

  .prev3 {
    width: 80px;
    height: 120px;
  }
}